#contContact {
  display: flex;
  background-color: #efefef;
  flex-direction: column;
  height: 600px;
  width: 100%;
  border-radius: 5px;
}

#contContact h2 {
  font-family: "Chewy", cursive;
  color: #75a8a6;
}

#contContact .row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px 30px 0px 30px;
}

#contContact .row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 400px;
  z-index: 0;
}

#inputName {
  padding-top: 20px;
}

textarea {
  resize: none;
  min-height: 200px;
}

.btn-primary {
  font-family: "Chewy", cursive;
  background-color: #75a8a6;
  border-color: #75a8a6;
}

#response {
  font-family: "Chewy", cursive;
  color: #75a8a6;
  font-size: 1.3em;
  text-align: center;
}
