#contAbout{
    display: flex;
    background-color: #EFEFEF;
    flex-direction: column;
}

#contAbout .row {
    display: flex; 
    justify-content: center;
    align-items: stretch;
    padding: 0px 30px 0px 30px;
}

#contAbout .row .col{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 10px 0px 10px;
}

#contAbout .row .col h2{
    padding-top: 15px;
    text-align: center;
}

#contAbout .row .col p{
    padding-top: 50px;
}

#contAbout .row .col img{
    padding-top: 30px;
}