.container{
        display: flex;
    }

/* .container .row{
        display: flex;
        flex-direction: row;
}

.container .row .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}; */
.contAbout{
    display: flex;
    /* justify-content: center;
    align-content: space-between; */
};

.contAbout .row{
    display: flex;
    flex-direction: row;
};

.contAbout .row .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
};

.contAbout .row .col h2{
    padding-top: 30px;
};

.contAbout .row .col p{
    padding-top: 50px;
};