.navbar, .navbar-nav, .navbar-header, .navbar-brand {
   background-color: white;
   color: #75a8a6;
   font-family: 'Chewy', cursive;
}
.navbar-header{
    justify-content: space-between;
}
.navbar-brand{
    display: flex;
}

.navbar.navbar-default > .container > .navbar-header > a.navbar-brand {
    color: #75a8a6;
}

.navbar.navbar-default > .container > .navbar-header > a.navbar-brand > p{
    font-size: 1.2em;
}
