.contService{
    display: flex;
}

.contService p{
    padding-top: 10px;
}

.contService .row .col img{
    width: 200px;
    height: 110px;
}

.contService .row{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.contService .row .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}